* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mobile-hder: 2.8rem;
  --mobile-sub-hder: 1.8rem;
  --mobile-bd-text: 1.4rem;
  --mobile-sub-bd-text: 1.4rem;
  --primary-color: #4f46e5;
  --hover-color: #8230cf;
  --hover-color-s: #17bedb;
  --accent-color: #9333ea;
  --background-color: #f8fafc;
  --secondary-color: #06b6d4;
  --text-primary: #0f172a;
  --text-secondary: #64748b;
  --section: #ffffff;
  --bold: 600;
  --medium: 500;
  --regular: 400;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;

  padding: 2.4rem;
  box-sizing: border-box;
  background-image: url("../images/抽象的な青色の背景.jfif");
  background-position: center;
  object-fit: cover;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.login {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
}
.show-signup .login {
  transform: translateX(-100%);
  opacity: 0;
}

.login-con {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 2.4rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1.2rem;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
}
.logo {
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.login-hd p {
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 500;
}
.login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2rem;
  flex: 1;
}
.email-input-login {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.2rem;
  color: var(--text-primary);
  margin-top: 1.2rem;
}
.email-input-login input {
  padding: 0.6rem 0.8rem 0.6rem 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid var(--secondary-color);
  outline: none;
  font-size: 1.1rem;
  color: var(--secondary-color);
}
.email-input input::placeholder {
  font-size: 1rem;
  color: var(--secondary-color);
}
.forgot-p {
  margin-top: 1.2rem;
  display: flex;
}
.login-button {
  margin-top: 1.2rem;
}
.login-button button {
  background-color: white;
  color: var(--text-secondary);
  border: 1px solid var(--secondary-color);
  padding: 0.8rem 1.6rem;
  border-radius: 2.4rem;
  font-size: 1.1rem;
  transition: all 0.2s ease;
}
/* .login-button button a {
  color: var(--secondary-color);
  text-decoration: none;
} */
.login-button button:hover {
  background-color: var(--secondary-color);
  color: white;
}
.sign-up-div {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}
.display-off {
  display: none;
}
.display-on {
  display: flex;
}
.sign-up-cta {
  background-color: #f8fafc;
  border: 1px solid rgb(51, 95, 240);
  border-radius: 2rem;
  color: rgb(51, 95, 240);
  padding: 0.8rem 3.2rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  transition: background-color 0.2s ease;
}
.sign-up-cta:hover {
  background-color: white;
}
.alarm-border {
  border: 1px solid rgb(241, 10, 10);
}
.border {
  border: 1px solid var(--secondary-color);
}
